name: build

on:
  workflow_dispatch:

jobs:
  windows-mingw:
    name: ${{ matrix.btype }} Windows ${{ matrix.arch }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, x86]
        cc: [gcc]
        btype: [Release]
        include:
          - btype: Release
            rule: install

          - arch: x86_64
          - arch: x86

    steps:

    - name: Install tools
      run: |
          sudo apt-get -qq update
          sudo apt-get -y install mesa-common-dev libxxf86dga-dev libxrandr-dev libxxf86vm-dev libasound-dev libsdl2-dev mingw-w64 g++-mingw-w64

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      if: ${{ github.event_name != 'release' || matrix.btype != 'Debug' }} # skip in Release builds
      run: |
        make ${{ matrix.rule }} -j 8 ARCH=${{ matrix.arch }} PLATFORM=mingw64 CC: ${{ matrix.arch == 'x86_64' && 'x86_64-w64-mingw32-gcc' || 'i686-w64-mingw32-gcc' }} DESTDIR=bin RENDERER_DEFAULT=opengl

    - uses: actions/upload-artifact@v4
      if: matrix.cc == 'gcc' && matrix.btype == 'release'
      with:
        name: windows-${{ matrix.arch }}
        path: bin
        if-no-files-found: error
        retention-days: 5

  ubuntu-x86:
    name: ${{ matrix.btype }} Ubuntu ${{ matrix.arch }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64]
        cc: [gcc]
        btype: [Release]
        include:
          - btype: Release
            rule: install

          - arch: x86_64

    steps:

    - name: Install tools
      run: |
          sudo apt-get -qq update
          sudo apt-get -y install mesa-common-dev libxxf86dga-dev libxrandr-dev libxxf86vm-dev libasound-dev libsdl2-dev

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      if: ${{ github.event_name != 'release' || matrix.btype != 'Debug' }} # skip in Release builds
      run: |
        make ${{ matrix.rule }} -j 8 ARCH=${{ matrix.arch }} CC=${{ matrix.cc }} DESTDIR=bin RENDERER_DEFAULT=opengl

    - uses: actions/upload-artifact@v4
      if: matrix.cc == 'gcc' && matrix.btype == 'release'
      with:
        name: linux-${{ matrix.arch }}
        path: bin
        if-no-files-found: error
        retention-days: 5

  macos:
    name: ${{ matrix.btype }} macOS
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        cc: [clang]
        btype: [Release]
        include:
          - btype: Release
            rule: install

    steps:

    - name: Install tools
      run: brew install coreutils sdl2 # pkg-config

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build
      run: |
        make ${{ matrix.rule }} -j$(sysctl -n hw.logicalcpu) ARCH=x86_64 CC=${{ matrix.cc }} DESTDIR=bin RENDERER_DEFAULT=opengl STRIP=echo
        make ${{ matrix.rule }} -j$(sysctl -n hw.logicalcpu) ARCH=arm64 CC=${{ matrix.cc }} DESTDIR=bin RENDERER_DEFAULT=opengl STRIP=echo
        ./make-macosx-app.sh release
        hdiutil create -format UDZO -srcfolder build/release-darwin-universal2/sandbox.app build/sandbox.dmg

    - uses: actions/upload-artifact@v4
      with:
        name: release-darwin-universal2
        path: build/sandbox.dmg
        if-no-files-found: error
        retention-days: 5

  update-release:
    if: ${{ github.event_name == 'release' }}
    needs: [windows-mingw, ubuntu-x86, macos]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - artifact_dir: linux-x86_64
            artifact_name: sandbox_linux-x86_64.zip

          - artifact_dir: windows-x86
            artifact_name: sandbox_windows-x86.zip 

          - artifact_dir: windows-x86_64
            artifact_name: sandbox_windows-x86_64.zip

          - artifact_dir: darwin-universal2
            artifact_name: sandbox_macos.zip

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Create archive
        run: 7z a -r ${{ matrix.artifact_name }} ./${{ matrix.artifact_dir }}/*

      - name: Upload archive
        uses: "svenstaro/upload-release-action@latest"
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          overwrite: true
          file: ${{ matrix.artifact_name }}






